* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.page-one {
    background-color: #1F2937;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    margin: 0px 75px;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 27px;
}

.header a, .descripcion {
    color: #E5E7EB;
    font-size: 17px;
}

.logo {
    font-size: 24px;
}

.content-p1 {
    flex: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 75px;
}

.title {
    font-size: 48px;
    font-weight: 800;
    margin-right: 200px;
}

.left-content{
    flex-wrap: wrap;
    flex-basis: 300px;
}

.signup-button{
    background-color: #3882F6;
    border-style: none;
    padding: 8px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.descripcion{
    margin-bottom: 10px;
}