* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.page-one,
.page-two,
.page-three,
.page-four {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-one {
  background-color: #1F2937;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  margin: 0px 75px;
}

ul {
  list-style-type: none;
  display: flex;
}

.header ul {
  gap: 27px;
}

.header a,
.descripcion {
  color: #E5E7EB;
  font-size: 17px;
}

.logo {
  font-size: 24px;
}

.content-p1 {
  flex: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 75px;
}

.title {
  font-size: 48px;
  font-weight: 800;
  margin-right: 200px;
}

.left-content {
  flex-wrap: wrap;
  flex-basis: 300px;
}

.signup-button {
  background-color: #3882F6;
  border-style: none;
  padding: 8px 20px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.descripcion {
  margin-bottom: 10px;
}

.page-two {
  align-items: center;
  justify-content: center;
}

.info-title {
  font-size: 34px;
  font-weight: 800;
  flex: auto;
  display: flex;
  align-items: center;
}

.photo-cards {
  display: flex;
  align-items: start;
  flex: auto;
}

.photo-cards ul {
  display: flex;
  gap: 25px;
}

.photo-cards li {
  width: 200px;
  text-align: center;
  text-wrap: pretty;
}

.photo-cards img {
  border-radius: 10px;
  border-style: solid;
  border-color: #3882F6;
}

.photo-cards p {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}

.page-three{
  background-color: #E5E7EB;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 100;
  font-style: italic;
  line-height: 60px;
}

.author-quote {
  font-weight: 600;
  font-size: 25px;
  text-align: end;
  font-style: oblique;
}

.quote-div {
  max-width: 900px;
}

